<!-- Post subtemplate -->
<table class='table table-hover'>
    <tr>
        <td width="45px"><img src='{{ post.author.avatar(45) }}'></td>
        <td>
            {% set user_link %}
                <a href="{{ url_for('user', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
            {% endset %}
            {{ _('%(username)s', username=user_link) }}
            <span class="small">
                [{{ moment(post.timestamp).fromNow() }}]:<br>
            </span>
            {{ post.body }}<br>
            
        </td>
    </tr>
</table>