<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        {% block title %}
        {% if title %}
        <title>{{ title }} - Microblog</title>
        {% else %}
        <title>Welcome to Microblog!</title>
        {% endif %}
        {% endblock title %}
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
        
        <div class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('index') }}">Microblog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content-1" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar-content-1">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-item nav-link" href="{{ url_for('explore') }}">Explore</a>
                    </li>
                </ul>
                
                <ul class="navbar-nav ml-auto">
                    {% if current_user.is_anonymous %}
                    <li class="nav-item">
                    <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                    <a class="nav-item nav-link" href="{{ url_for('user', username=current_user.username) }}">Profile</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        </nav>
    {% endblock navbar %}

    {% block content %}
        <div class="container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <div class="container">
        {% block app_content %}{% endblock app_content %}
        </div>

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
        {% endblock %}
    {% endblock content %}
    </body>
</html>




 
