{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block content %}
<div class="container-fluid">
    <table class='table'>
        <tr valign='top'>
            <td width='200px'><img src='{{ user.avatar(200) }}'></td>
            <td>
                <h1>User: {{ user.username }}</h1>
                {% if user.about_me %}
                <p>{{ user.about_me }}</p>
                {% endif %}
                {% if user.last_seen %}
                <p>Last seen on: {{ user.last_seen }}</p>
                {% endif %}
                <p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following</p>
                <!-- Only shows edit profile link/post field if user is viewing own profile -->
                {% if user == current_user %}
                <p><a href=" {{ url_for('edit_profile') }}">Edit your profile</a></p>
                {{ render_form(post_form, method='POST')}}
                {% elif not current_user.is_following(user) %}
                <p>
                    <form action="{{ url_for('follow', username=user.username) }}" method="POST">
                        <!--hidden_tag() to protect against CSRF attacks-->
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Follow', class_='btn btn-outline-primary') }}
                    </form>
                </p>
                {% else %}
                <p>
                    <form action="{{ url_for('unfollow', username=user.username) }}" method="POST">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Unfollow', class_='btn btn-outline-primary') }}
                    </form>
                </p>
                {% endif %}
            </td>
        </tr>
    </table>
    <hr>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    <nav aria-label="posts">
        <ul class="pagination">
            <li class="previous {% if not prev_url %} disabled{% endif %}">
                <a class="page-link" href="{{ prev_url or '#' }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="next {% if not next_url %} disabled{% endif %}">
                <a class="page-link" href="{{ next_url or '#' }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
{% endblock content %}