{% extends 'base.html' %}

{% block content %}
    <table>
        <tr valign='top'>
            <td><img src='{{ user.avatar(128) }}'></td>
            <td>
                <h1>User: {{ user.username }}</h1>
                {% if user.about_me %}
                <p>{{ user.about_me }}</p>
                {% endif %}
                {% if user.last_seen %}
                <p>Last seen on: {{ user.last_seen }}</p>
                {% endif %}
                <p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following</p>
                <!-- Only shows edit profile link/post field if user is viewing own profile -->
                {% if user == current_user %}
                <p><a href=" {{ url_for('edit_profile') }}">Edit your profile</a></p>
                <form action="", method='POST'>
                    {{ post_form.hidden_tag() }}
                    {{ post_form.post.label }}
                    <p>
                        {{ post_form.post(cols=32, rows=4) }}
                        {% for error in post_form.post.errors %}
                            <span style="color:red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>{{ post_form.submit() }}</p>
                </form>
                {% elif not current_user.is_following(user) %}
                <p>
                    <form action="{{ url_for('follow', username=user.username) }}" method="POST">
                        <!--hidden_tag() to protect against CSRF attacks-->
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Follow') }}
                    </form>
                </p>
                {% else %}
                <p>
                    <form action="{{ url_for('unfollow', username=user.username) }}" method="POST">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Unfollow') }}
                    </form>
                </p>
                {% endif %}
            </td>
        </tr>
    </table>
    <hr>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    {% if prev_url %}
        <a href="{{ prev_url }}">Newer Posts</a>
    {% endif %}
    {% if next_url %}
        <a href="{{ next_url }}">Older Posts</a>
    {% endif %}
{% endblock content %}